.outer-banner {
    padding: 60px;
    text-align: center;
    color: rgb(255, 208, 0);
    font-size: 30px;
    height: 450px;
    background-image: url("./images/banner_background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
  }

  .banner-card {
    padding: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 5px 5px rgb(18, 18, 18);
  }