.outer-banner {
    padding: 60px;
    text-align: center;
    color: rgb(255, 208, 0);
    font-size: 30px;
    height: 400px;
    background-image: url("./images/banner_background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
  }

  .banner-card {
    padding: 60px;
    background-color: rgb(255, 255, 255);
    box-shadow: 20px 15px 15px rgb(18, 18, 18);
  }

  #banner-portfolio-image {
    z-index: 1;
  }