@import url(https://fonts.googleapis.com/css);

#outer-banner {
    padding: 30px;
    height: 80vh;
  }

#banner-card {
  color: black;
  padding: 30px;
  border-radius: 5px;
  height: 60vh;
  max-height: 60vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow: auto;
}

#banner-card img {
  float: right;
  height: 200px;  
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

#banner-card h1 {
  font-family:'Courier New', Courier, monospace;
  color:#000000;
  font-size:10vh;
  line-height:1em;
  margin:0 0 0 60px;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

#banner-card p {
  color: #000;
}
