@import url(https://fonts.googleapis.com/css);

#outer-banner {
    padding: 30px;
    height: fit-content;
    
  }

#banner-card {
  color: black;
  padding: 30px;
  border-radius: 5px;
  height: 60vh;
  min-height:fit-content;
  min-width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  background: linear-gradient(to right, #000000, #0f9b0f) 25% 75%;
  overflow: hidden;
}

#banner-card img {
  float: right;
  max-height: 60%;
}

#banner-card h1 {
  font-family:'Courier New', Courier, monospace;
  color:#ffffff;
  font-size:10vh;
  line-height:1em;
  margin:0 0 0 60px;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

#banner-card p {
  color: rgb(0, 0, 0);
  text-overflow: ellipsis;
}
