#outer-banner {
    padding: 50px;
    color: rgb(255, 208, 0);
    height: 500px;
    background-image: url("./images/banner-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;

  }

  #banner-card {
    border-radius: 5px;
    overflow: hidden;
    max-height: 400px;
    padding: 150px; /** image height and width */
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
    background-image: url("./images/banner.jpg"); 
    background-repeat: no-repeat;
    }

  /**

  #banner-portfolio-image {
    border-radius: 2px;
    top: 20%;
    right: 5.5%;
    height: 275px;
    width: 200px;
    position: absolute;
    overflow: visible;

  }
  */
  
  