#content-section {
    padding: 30px;
    color: rgb(255, 208, 0);
    height: 60vh;
    background-image: url("./images/section-background.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}